{% load static%}
<html>
    <head>
    </head>
    <link rel="stylesheet" href="{%static 'style.css' %}">

    <body>
        <div class="header">
            <h2>For a few blogs more</h2>
        </div>
        
        <div>
            {% for item in posts reversed %}
            <div class="post-list">
                <h2>{{item.title}}</h2>
                <h5>{{item.created_date}}</h5>
                <p>{{item.content|truncatewords:20}}</p>
                <a href="post/{{item.id}}">Read More</a>
            </div>
            {% endfor %}
        </div>

    </body>
</html>


